# Dormify Python Workshop
### Introduction
Python has been the fastest growing programming language over the past few years because of its wideranging functionality.  
Use Cases:
*   Building websites
*   Creating simple games
*   Collecting data
*   Data Visualization
*   Automation

As a result of its popularity, many of its users have contributed to the language. What they create are <b>Open Source Projects</b>. Similar to how downloading applications to your computer is what makes it useful, open source projects are what make Python useful. They allow you to do things that would otherwise be impossible in regular python


What Tony and I use basically everyday is an open source project called <b>Pandas</b>. I like to think of Pandas as "fancy Excel" since it can do everything that you can do in Excel, but much more.

# How to Use Jupyter Notebook
Just like how we use Microsoft Word to write text, we use Jupyter Notebook to write code. Of course, there are many other text editors that you can use, but Jupyter Notebook is our go-to since it is really helpful in visualizing tables and showing graphs.

The main building block of code in Jupyter Notebook is a <b>cell</b>. Click on the cell below so that it is highlighted and click <b>Run</b> button at the top of the notebook. It looks like this
![title](img/run.png)

In [ ]:
print("Hello World!")

After we run a cell, we can also go back and change the code and run it again. For example, after running the above cell, we can change it to say "Hello Dormify" instead, and then run it again.

# Basic Python Concepts
In Python, we work with thigs called <b>variables</b>. Variables can store information, can be changed, and can be used to perform additional calculations

Variables can be thought of filenames on your computer. When you create a file and are about to save it, you need to create a name for that file so that you can find it later.

In the example below, we have two different variables. They represent the price of the pillow and the number of pillows sold.

In [6]:
pillow_price = 10.99
pillows_sold = 100

In order to calculate the revenue we get from the pillow, rather than multiplying $10.99 * 100$, we can instead multiply the two variables together.

In [ ]:
pillow_revenue = pillow_price * pillows_sold

If we want to see what the current value being stored in a variable is, we can just write the name of the variable in its own cell. By running it, the value will show up right below it!

In [2]:
pillow_revenue

1099.0

Variables can change value if we want them to. For example, if we sell even more pillows, we can change the $\verb#pillows_sold#$ variable, and then recalculate the revenue from the pillows accordingly.

In [4]:
pillows_sold = 200
pillow_revenue = pillow_price * pillows_sold

In [5]:
pillow_revenue

2198.0

# Introduction to Pandas
Pandas is the <b>open-source project</b> that we use to replicate the functionality of Google Spreadsheets or Excel.

Typically, you can only store numbers, text, True/False values in variables. However, Pandas add two more "datatypes".
* A <b>DataFrame</b> is a table, similar to ones that you see in Excel. It has columns and rows.
* A <b>Series</b> is either an entire row or an entire column of a DataFrame. In the photo below, we see that the DataFrame is made up of 3 different series. 


![title](img/seriesvsdataframe.png)

First, lets read in a csv file. There is currently a csv file in the same folder in this notebook called <b>sales_2017-07-01_2017-07-07.csv</b> These are the item level sales from a random week in July 2017.

We read in csv files by using <b>pd.read_csv('filename')</b>. Once we read it in, we have to store it in a variable.

In [12]:
# this allows us to use all the functionality of the pandas library
import pandas as pd

# this is where we read in the file
sales = pd.read_csv('sales_2017-07-01_2017-07-07.csv')

We can then display the DataFrame as we would any other variable.

In [13]:
sales

,day,order_name,customer_email,variant_sku,ordered_item_quantity,orders,gross_sales,discounts,returns,net_sales,shipping,taxes,total_sales
0,7/1/17,6000117247,rsteiner@msn.com,NaN,0,0,0.0,0.0,0.0,0.0,0.00,0.00,0.00
1,7/1/17,6000117217,madanm@yahoo.ca,DFY7_DUV_MARB_PRP_TXL,1,1,99.0,-19.8,0.0,79.2,0.00,0.00,79.20
2,7/1/17,6000117247,rsteiner@msn.com,RAF_BANNER_NOBADDAYS,1,1,16.0,0.0,0.0,16.0,0.00,0.00,16.00
3,7/1/17,6000117129,esasaki@me.com,DFY7_SHEET_TDYE_GRY_QN,1,1,99.0,-19.8,0.0,79.2,0.00,0.00,79.20
4,7/1/17,6000117247,rsteiner@msn.com,KA_CLEARLONG_SET,1,1,14.0,0.0,0.0,14.0,0.00,0.00,14.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6134,7/7/17,6000119591,cvrcek@icloud.com,RAF_PLW_UGH,1,1,36.0,-5.4,0.0,30.6,0.00,0.00,30.60
6135,7/7/17,6000119683,madler@me.com,UMBRA_ESTIQUE_MULTIORG,1,1,20.0,0.0,0.0,20.0,0.00,0.00,20.00
6136,7/7/17,6000119633,bahwi@me.com,NaN,0,0,0.0,0.0,0.0,0.0,7.95,0.00,7.95
6137,7/7/17,6000119579,eimear@verizon.net,HP_TRAVELPLW_GRY1,1,1,20.0,0.0,0.0,20.0,0.00,1.47,21.47
6138,7/7/17,6000119659,dburrows@live.com,THROP_THW_OMBRE_GRY,1,1,49.0,-9.8,0.0,39.2,0.00,0.00,39.20